.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2aee5;
}

.title {
  background-color: #29ccc4;
  color: #ffffff;
  margin: 0 0 10px 0;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.movie {
  width: 100%;
}

.comment-container {
  width: 100%;
  background-color: #212625;
  color: #ffffff;
}

.button-container {
  margin-bottom: 20px;
}

.comments {
  padding: 15px 0;
}

.video-container {
  position: relative;
  width: 90%;
  margin-bottom: 20px;
}

.ads{
padding: 4px;
padding-right: 8px;
background: white;
width: 80%;

position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
}

.ads__link {
display: flex;
color: inherit;
text-decoration: inherit;
}

.ads__img {
width: 80px;
min-width: 80px;
height: 80px;
margin-right: 16px;
}

.ads__info {
display: flex;
flex-direction: column;
justify-content: center;
}

.ads__title {
margin: 0;
}
.ads__body {
margin: 0;
}
